.footer {
  background-color: #000;
}
.footer-logo {
  height: 5rem;
  margin-top: 2rem;
  margin-left: 4rem;
}
.footer_phone {
  font-family: 'HelveticaNeueCyr_Bold', sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 0;
  margin-top: 1rem;
}
.footer_link {
  color: #94ca2d;
  font-size: 2rem;
  text-align: center;
  margin-top: -1rem;
  margin-left: 5.5rem;
}