.opportunities {
  overflow: hidden;
  position: relative;
  margin-bottom: -0.5rem;
}
.tony {
  margin-top: 9rem;
  margin-left: 5rem;
}
.media-heading {
  font-family: 'HelveticaNeueCyr_Medium', sans-serif;
  font-size: 2.2rem;
  font-weight: 700;
}
.media_text {
  font-family: 'HelveticaNeueCyr_Roman', sans-serif;
  font-size: 1.3em;
  text-align: left;
}
.media-wrap_movie {
  margin-top: 18rem;
}
.media-wrap_world {
  margin-top: 8rem;
}
.car {
  margin-bottom: 7.5rem;
  margin-top: -3rem;
  margin-left: 3rem;
}
.ruby {
  position: absolute;
  left: 12rem;
  top: 65rem;
}
.red-ruby {
  position: absolute;
  top: 20rem;
  right: -3rem;
}
.film-media {
  margin-top: -1rem;
  margin-left: -3rem;
}
.world-media {
  margin-top: -4rem;
}